.container{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

#item1{
    text-align: center;
    font-size: 80px;
    background-color : #AEC6CF;
    width: 100%;
}

.item2 {
    margin: auto 0;     /*위 아래 margin : auto, 양 옆 margin : 0 => 페이지 가운데 위치*/
    display: flex;
    flex-direction: column;
    
}