.myPage_container{
    margin: 10px;
    border: 2px solid rgba(231, 241, 139, 0.431);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    background-color: rgb(174, 192, 243);
    gap: 20px;
    flex-grow: 1;
}

.myPage_item{
    background-color: rgb(243, 243, 235);
    text-align: center;
    font-size: 30px;
}

.myPage_item:first-child{
    grid-column: 1 / 4;
    text-align: center;
    font-size: 70px; /* 비율에 비례하게 조정하고싶음.*/
}

body{
    margin: 0;
}

/* 500px 보다 작으면 2줄로 만들기.*/
@media (max-width : 650px) {
    .myPage_container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 3fr 3fr 3fr;
    }
    .myPage_item:first-child{
        grid-column: 1 / 3;
        text-align: center;
        font-size: 50px; /* 비율에 비례하게 조정하고싶음.*/
    }
}