.nav_container1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 60px;
    margin: 0;
    /*border: 2px solid black;*/
    padding: 5px 10px; /*상하 좌우*/
    background-color: rgb(158, 180, 241);
}

#nav_container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 150px;
    height: 50px;
    margin: 0;
    margin-top: 15px;
    /*border: 2px solid blue;*/
    padding: 0;
    background-color: rgb(174, 192, 243);
    opacity: 0; /*투명하게*/
}

.mainMenu {
    /*border: 2px dotted green;*/
    text-align: center;
    font-size: 24px;
    padding: 0;
}

.mainMenu a{
    color: white;
}

.subMenu a {
    /*border : 2px dotted red;*/
    color: white;
}

.nav_container1 li:hover > a {
    background-color: rgb(116, 140, 184);
    font-weight: bold;
    color: rgb(251, 239, 216);
}

.nav_container1 li:hover #nav_container2 {
    opacity: .99;
    z-index: 1;
}